.sidebar-actions {
  position: fixed;
  background-color: white;
  right: 0;
  top: 0;
  height: 100vh;
  width: 70px;
  padding-top: 15px;
}

i {
  cursor: pointer;
  font-size: x-large;
}

.active {
  color: #FFC107;
}

.main-left {
  margin-right: 50px;
}

.add-product-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  box-shadow: 0 0 10px 2.5px rgba(0, 0, 0, 0.2);
}


.home-sidebar {
  .actions-left {
    width: 70px;
    border-right: 1px solid rgb(243, 237, 237);
  }
}

.orderlist {
  justify-content: center;
  align-items: center;

  img {
    height: 80px;
    width: 80px;

  }

  .cart-item {
    height: 100px;
    width: 90%;
    border-bottom: 1px solid rgb(240, 230, 230);
  }

  .cart-title {
    border-bottom: 1px solid rgb(240, 230, 230);
    padding-bottom: 10px;
    width: 90%;
  }
}

.input-number {
  button {
    font-weight: 500;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(211, 202, 202);
  }

  button:hover {
    background-color: rgb(230, 216, 216);
  }

  input {
    padding: 10px;
    width: 100px;
    border-top: 1px solid rgb(211, 202, 202);
    border-bottom: 1px solid rgb(211, 202, 202);
    border-left: 0px;
    border-right: 0px;
  }

  .btn-left {
    border-radius: 10px 0px 0px 10px;
  }

  .btn-right {
    border-radius: 0px 10px 10px 0px;
  }

}

.cart-empty-message{
  padding: 20px;
  background-color: rgb(235, 245, 235);
  color: red;
  border: 1px solid orange;
  font-weight: 700;
  width: 80%;
  border-radius: 10px;
}
