.wrapper{
    margin: auto;
    background-color: #FFC107;
    padding: 10px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    p-iconfield{
        width: 100%;
    }
    input{
        width: 100%;
        font-size: 1.2rem;
        border-radius: 5px;
    }
    p-button{
        margin-left: 20px;
    }
}