<div class="column wrapper shadow-md" (mouseenter)="op.show($event)" (mouseleave)="op.hide()">
  <!-- Product Thumbnail -->
  <img [src]="product.image" alt="Product Thumbnail" />

  <!-- Product Name -->
  <h3 class="title">{{ product.name }}</h3>
  <!-- Product Rating (PrimeNg rating component) -->
  <div class="rating">
    <p-rating [(ngModel)]="product.rating" [readonly]="true" iconCancelClass="hidden"></p-rating>
  </div>

  <!-- Product Price -->
  <div class="row">
    <span class="price">{{ product.price }}</span>
  </div>

  <!-- Action buttons -->
  <div class="row btn-row">
    <button type="button" pButton icon="pi pi-plus" (click)="addProductToCart()" [rounded]="true"
      [disabled]="product.stock<=0"></button>

  </div>
</div>

<p-overlayPanel #op>
  <table>
    <thead>
      <tr>
        <th>SKU: {{product.sku}}</th>
        <th>Availability: {{product.stock}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Trademark</td>
        <td>{{product.trademark}}</td>
      </tr>
      <tr>
        <td>Size</td>
        <td>L: {{product.length}}, W: {{product.width}}, H: {{product.height}}</td>
      </tr>
      <tr>
        <td>{{product.propertyName}}</td>
        <td>{{product.propertyValue}}</td>
      </tr>
      <tr>
        <td>manufacturer</td>
        <td>{{product.manufacturer}}</td>
      </tr>
    </tbody>
  </table>

</p-overlayPanel>

<p-toast position="bottom-right" />